<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
<nav>
<ul>
    <li><a class="button" href="/players">選手</a></li>
    <li><a class="button" href="/match">試合</a></li>
    <li><a class="button" href="/register">打席</a></li>
    <li><a class="button" href="/result">成績</a></li>
    <li><a class="button" href="/see">履歴</a></li>
</ul>
</nav>
{% block content %}
{% endblock %}
</body>
</html>