<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 野球成績管理-バセバル</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
<h1>野球成績管理アプリ バセバル</h1>
<nav>
<ul>
    <li><a class="button" href="/players">選手</a></li>
    <li><a class="button" href="/match">試合</a></li>
    <li><a class="button" href="/register">打席</a></li>
    <li><a class="button" href="/result">成績</a></li>
    <li><a class="button" href="/see">履歴</a></li>
</ul>
</nav>
<h2>ログイン</h2>
<form method="POST">
    <label for="">ユーザー名</label>
    <input type="text" name="username"><br>
    <label for="">パスワード</label>
    <input type="password" name="password"><br>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <p class="alert alert-{{ category }}">{{ message }}</p>
      {% endfor %}
    {% endif %}
    {% endwith %}
    <p><input type="submit" value="ログイン"></p>
</form> 
初めて利用する方は<a href="/signup" role="button">こちら</a>
</body>
</html>